.about-container {
    display: flex;  
    justify-content: space-around;
}

.about-content{ 
    width: 50%; 
}

.about-me {
    width: 411px;
    height: 329px; 
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
}

.about-me-image {
    border-radius: 2rem; 
    overflow:hidden;
    transform: rotate(10deg);
    transition: var(--transition)
}

.about-me-image:hover {
    transform: rotate(0);
}

.about-content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    line-height: 2.5;
}


/* Media Queries */
 
@media screen and (max-width: 1300px) {
    .about-container {
        flex-wrap: wrap;
    }

    .about-content {
        width: 80%;
    }

    q {
        margin-top: 3rem; 
        display: block; 
        text-align: center;
    }
    
    .about-content p {
        margin: 1.5rem 0;
    }
} 

 @media screen and (max-width: 900px) {
    .about-me {
        width: 50%; 
        height: 75%;
    }

    .about-me-image {
        height: 100%; 
        width:100%;
    }

    .about-content {
        width: 100%; 
    }
} 

@media screen and (max-width: 600px) {
    .about-me {
        width: 70%; 
        height: 75%;
    }

    .about-me-image {
        height: 100%; 
        width: 100%;
    }

    .about-content {
        width: 100%; 
    }

    .about-content p {
        line-height: 1.8;
        font-size: 1rem;
    }
} 

@media screen and (max-width: 600px) {
    .about-me {
        width: 90%; 
        height: 75%;
    }
} 